Cvičení/cv04/xml4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" >
  <xs:element name="adresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ulice" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="mesto" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="psc" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
